
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Index</h1>


<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida sem quam, eu rhoncus felis gravida et. Nullam a leo suscipit, pretium orci nec, lacinia arcu.
                        Vivamus vulputate sit amet sapien at faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Morbi mauris est, tincidunt quis tellus sed, eleifend semper enim. Pellentesque euismod lorem et accumsan fermentum.
                        Pellentesque volutpat elit vel ex tincidunt, quis posuere eros consequat.
                    </p></div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <p>
                        Vestibulum auctor enim eleifend felis consequat gravida.
                        Mauris mi odio, lobortis vel ultrices vitae, consequat sed leo.
                        Mauris non lacus ac lectus faucibus scelerisque ac sit amet sem.
                    </p></div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><p>
                    Duis aliquam, arcu in consequat pharetra, ipsum turpis scelerisque lorem, eget rhoncus urna neque vitae enim. 
                    Donec et dolor rhoncus, commodo eros in, pellentesque ligula. 
                    Integer vestibulum, nibh non laoreet hendrerit, erat odio venenatis nunc, a malesuada dui velit nec neque. 
                    Vestibulum a ante ac ante mollis pretium. 
                         </p></div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <p>
                        Duis aliquam, arcu in consequat pharetra, ipsum turpis scelerisque lorem, eget rhoncus urna neque vitae enim.
                        Donec et dolor rhoncus, commodo eros in, pellentesque ligula.
                        Integer vestibulum, nibh non laoreet hendrerit, erat odio venenatis nunc, a malesuada dui velit nec neque.
                        Vestibulum a ante ac ante mollis pretium.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
