@model BarberShop.Models.MenuViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @*//Regular Cut - £15
                                 //            Childrens Cut - £6
                                 //             Beard Trim £5
                                 //           Mustache Trim £3
                                 //              Shape Ups £3*@

<div class="card mt-5">
    <div class="card-body">
        <h5 class="card-title mb-5 text-center">Menu</h5>
    
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-5">

                <div class="input-group">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">Barber</span>
                      @Html.DropDownList("Blah",new SelectList(Model.Barbers,"Id","Name"),"Select Barber", new { @class = "form-control"})
                    </div>

                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
                <div class="input-group mt-5 mb-5 ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">Cut</span>

                    </div>


                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>

                <div class="input-group ">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">Date</span>

                    </div>


                    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                </div>
            </div>
        </div><!--Tab content-->
                </div><!--col-8-->
