@model BarberShop.Models.MenuViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Menu"))
{

    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title mb-5 text-center">Menu</h5>

            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-5">

                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text">Barber</span>
                        </div>
                        @Html.DropDownListFor(m => m.Orders.BarbersId, new SelectList(Model.Barbers, "Id", "Name"), "Select Barber", new { @class = "form-control" })
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text">Cuts</span>
                        </div>
                        @Html.DropDownListFor(m => m.Orders.CutsId, new SelectList(Model.Cuts, "Id", "Cuts"), "Select Cut", new { @class = "form-control" })
                    </div>


                    <div class="input-group">
                        <div class="input-group-prepend ">
                            <span class="input-group-text">Date</span>
                        </div>
                        <input id="dateOfBooking" name="dateOfBooking" class="form-control" type="date" />
                    </div>
                </div>
            </div>
        </div><!--Tab content-->
    </div>



    <button type="submit" class="btn btn-primary">Primary</button>




}
